@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Zen+Kaku+Gothic+New&display=swap');

body {
    background-color: #F0F0F3;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.wrapper {
    max-width: 840px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
}

.about-info {
    width: 50%;
}

h1 {
    font-family: "Gabarito", sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    color: #FC8B8B;
    text-decoration: none;

    margin-bottom: 16px;
}

h2 {
    font-size: 18px;
    line-height: 1.2em;
    color: #646464;

    margin-bottom: 16px;
}

p {
    margin: 8px 0;
    line-height: 1.2em;
}

li {
    font-size: 14px;
    line-height: 1.2em;
}


/* 以下フォーム */

.auth-container {
    width: 320px;
}

.login-form,
.register-form {
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border-radius: 0.5em;
    display: block;
}

/* タブ切り替えロジック */

.login-form,
.register-form {
    display: none;
}

.login-form.active,
.register-form.active {
    display: block;
}

.auth-tabs {
    margin-left: 10px;
}

.tab {
    background-color: #F0F0F3;
    border: none;
    border-radius: 8px 8px 0 0;
    padding: 8px 16px;
    cursor: pointer;
}

.tab.active {
    background-color: #fff;
}


.form-input label {
    display: block;
    margin-top: 8px;
}

.form-input input {
    width: 100%;
    margin-top: 8px;
    padding: 12px 4px;
    border: none;
    border-radius: 0.8em;

    box-shadow: inset 7px 7px 14px #eeeeee,
        inset -7px -7px 14px #ffffff;
}

.form-button {
    display: block;
    width: 103%;
    margin: 24px 0;
    padding: 12px;

    background-color: #FC8B8B;
    color: #ffffff;
    border: none;
    border-radius: 0.8em;
    cursor: pointer;
}

.form-button:hover {
    background-color: #f77d7d;
}

/* エラーメッセージ */

.error {
    color: #e3342f;
    font-size: 12px;
    margin-bottom: 8px;
}

.success {
    color: green;
    font-size: 12px;
    margin-bottom: 8px;
}