@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&family=Zen+Old+Mincho&display=swap');

body {
    font-size: 16px;
    line-height: 2em;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* オプションメニュー */

.sidebar {
  width: 200px;
  background-color: #bbbbbb;
  padding: 16px;
  position: fixed; /* ビューポート左端に固定 */
  top: 0;
  left: 0;
  height: 100vh; 
  z-index: 100; 
  border-right: 0.5px solid #ddd;

  transform: translateX(-216px);
  transition: .5s;
}

.toggle-button {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  color: #bbbbbb;
  background-color: transparent;
  border: none;
  padding: 8px 12px;
  font-size: 18px;
  cursor: pointer;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 24px;
}

.menu label, .menu select {
  font-size: 14px;
  width: 100%;
  padding: 8px;
}

.menu select {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
}



/* 横書きCSS */

.main-text {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    padding: 24px 0px;
    display: block;
    font-size: 24px;
}

main {
    margin-top: 32px;
    margin-bottom: 32px;
}

p {
    white-space: pre-wrap; 
}

/* 縦書きCSS */

div.vertical-text {
    display: flex;
    align-items: center; 
    flex-direction: column; 
    height: 100vh;

    width: 90%;
    margin: 0 auto;

    overflow-x: auto;
    overflow-y: visible;

    writing-mode:vertical-rl;
}

main.vertical-text {
    height: 75%;
    max-height: 560px;
}

h1.vertical-text {
    font-size: 24px;
    margin-left: 16px;
}
